<div
class ='temporary-home '
style="width:100%;height:100%">
<img src="Home.png">
</div>

<!-- <section
  class="opacity-0"
  pAnimateOnScroll
  enterClass="fadeinleft animation-duration-1500 animation-ease-out animation-fill-both"
  class="hero"
>
  <h1>Welcome 👋</h1>
  <p>Now it should slide+fade in smoothly on load.</p>
</section>

<div style="height: 120vh;"></div>

<section
  class="opacity-0"
  pAnimateOnScroll
  enterClass="fadeinup animation-duration-2000 animation-ease-out animation-fill-both"
  class="card"
>
  <h2>Another block</h2>
  <p>Slides up + fades in when it enters view.</p>
</section> -->