<div class="home-wrap">
  <div class="home-initial-area-wrap">
    <div class="initial-page-title-name">
      @for (namePart of fullName; track namePart; let i = $index) {
        <span class="title-text-name" [style.--name-index]="i">{{ namePart }}</span>
      }
    </div>
    <div class="initial-page-image-area">
      <img
        class="initial-page-image"
        src="just_me_no_background.png"
        alt="Leonardo Pontes Gaspar portrait"
      />
    </div>
  </div>
  <div class="home-second-area">
  </div>
</div>
