<div class="home-wrap">
  <div class="home-initial-area-wrap">
    <div class="initial-text-area">
      <div class="initial-page-title-name">
        @for (namePart of fullName; track namePart; let i = $index) {
          <span class="title-text-name" [style.--name-index]="i">{{ namePart }}</span>
        }
      </div>  
      <div class="initial-page-subtext-area">
        <span class="initial-page-subtext">Software Developer</span>
      </div>
      <div class="initial-page-quote-area">
        <div class="quote-icon-area" (click)="scrollIntoView('.home-second-area')">
          <fa-icon class="quote-icon" size="3x"  [icon]="fontaIcons.solid.faArrowDown"></fa-icon>
        </div> 
        <div class="quote-text-area">
          <span class="quote-text">The solution is always there you</span> 
          <span class="quote-text"> just have to look for it</span>
        </div>
      </div>
    </div>
    <div class="initial-page-image-area">
      <img
        class="initial-page-image"
        src="just_me_no_background.png"
        alt="Leonardo Pontes Gaspar portrait"
      />
    </div>
  </div>
  <div class="home-second-area">
  </div>
</div>
