@import '../public/styles/glender-icon.scss';
@import "primeflex/primeflex.css";
$primary-color: linear-gradient(to right, #1A2A3A, #154255); 
body { 
    background:$primary-color ; 
    width:100%;
    margin: 0;
}
