<div class="main-footer">
  <div class="footer-header">
    <h2 class="footer-title">About me</h2>
    <p class="footer-description">
      I am a passionate software developer with a strong background in web development and data
      analysis.i have a keen interest in creating innovative solutions.With experience in various
      programming languages and frameworks, I enjoy tackling complex problems and delivering
      high-quality results. I am always eager to learn new technologies and collaborate on exciting
      projects.
    </p>
  </div>
  <p-divider class="footer-divider"></p-divider>
  <div class="footer-content" >
    <div class="footer-contact">
      <h3 class="footer-section-title">Contact</h3>
      <div class="ex-link-with-icon" id="email-link"  (click)="copyEmail()">
        <span class="ex-link-label">Email:</span>
        <span class="ex-link-name">&nbsp;{{  email }}</span>
        <div class="ex-a-icon hover-only">
          <fa-icon [icon]="fontaIcons.solid.faCopy"></fa-icon>
        </div>
      </div>
      <p id="phone-number">Phone: <a href="tel:+5585986007511">+55 85 986007511</a></p>
    </div>
    <div class="footer-links">
      <h3 class="footer-section-title">Links</h3>
      @for (eLink of externalLinks; track $index) {
        <div class="ex-link-with-icon" [id]="eLink.id" (click)="open_download_external_link(eLink.url,eLink.type)">
          <div class="ex-b-icon">
            @if (eLink.iconType === 'fa') {
              @if (eLink.isLayered) {
                <fa-layers>
                  <fa-icon
                    [inverse]="eLink.isInversedMask"
                    [style]="eLink.additionalStyleMask"
                    [icon]="eLink.mask"
                  ></fa-icon>
                  <fa-icon
                    [inverse]="eLink.isInversedIcon"
                    [transform]="eLink.transform"
                    [icon]="eLink.icon"
                  ></fa-icon>
                </fa-layers>
              } @else {
                <fa-icon
                  [size]="eLink.size"
                  [style]="eLink.additionalStyleIcon"
                  [icon]="eLink.icon"
                ></fa-icon>
              }
            } @else {
              <i [class]="eLink.icon" [style]="eLink.additionalStyleIcon"></i>
            }
          </div>
          <span class="ex-link-name">{{ eLink.name }}</span>
          <div class="ex-a-icon">
            @if (eLink.type == 'link') {
              <fa-icon [icon]="fontaIcons.solid.faArrowUpRightFromSquare"></fa-icon>
            } @else {
              <fa-icon [icon]="fontaIcons.solid.faDownload"></fa-icon>
            }
          </div>
        </div>
      }
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-location">
      <fa-icon class="footer-location-icon" [icon]="fontaIcons.solid.faLocationDot"></fa-icon>
      <span class="footer-location-text">Fortaleza,Ceará,Brazil</span>
    </div>
    <p>&copy; 2026 Leonardo Gaspar</p>
  </div>
</div>
